
@{
    ViewBag.Title = "Sửa Thương Hiệu";
    Layout = "~/Views/Share/LayoutAdmin.cshtml";
}
<h2 class="text-primary">Sửa Thương Hiệu</h2>
@*<h2>Sửa Thương Hiệu</h2>*@

<form asp-action="SuaThuongHieu" method="post" class="mt-3">
    @* Hidden field de gui ma thuong hieu *@
    <input type="hidden" name="MaThuongHieu" value="@Model.MaThuongHieu" />

    <div class="mb-3">
        <label for="TenThuongHieu" class="form-label">Tên Thương Hiệu</label>
        <input type="text" class="form-control" id="TenThuongHieu" name="TenThuongHieu" value="@Model.TenThuongHieu" required />
    </div>
    <button type="submit" class="btn btn-warning">Cập Nhật</button>
    <a href="@Url.Action("QuanLyThuongHieu", "Admin")" class="btn btn-secondary">Hủy</a>
</form>


